/* Item wrapper */
.carousel__item {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    transition: opacity 0.6s ease;
}
/* Text wrapper */
.carousel__item__description {
    background: rgb(222, 184, 135);
}
/* Text header */
.carousel__item__description__header {
    font-size: 48px;
}
/* Text subheader */
.carousel__item__description__subheader {
    font-weight: 100;
    font-size: 16px;
    padding: 0 10px;
    line-height: 1.5;
}
/* Go to product button wrapper */
.carousel__item__description__button__wrapper {
    width: 100%;
    padding: 1rem 0;
    background: linear-gradient(
        to top,
        rgba(222, 184, 135, 50%),
        rgb(222, 184, 135) 100%
    );
}
/* Go to product button */
.carousel__item__description__button {
    margin-top: 1rem;
    padding: 1rem 0 1rem 0;
    width: 80%;
    background: rgb(222, 184, 135);
    border: 1px solid black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
/* Visibility activated */
.show {
    opacity: 1;
    width: initial;
    height: initial;
    visibility: visible;
}
@media (min-width: 600px) {
    .show {
        width: 50%;
    }
}
