/* Section container */
.category-card-list {
    background-color: #644422;
    background-color: #954535;
    /* border-radius: 0 0 15px 15px; */
    padding-bottom: 1rem;
}
/* Category cards container */
.category-card-list__item-list {
    padding: 1rem 0;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}
/* P tag disguised as link to load more items */
.category-card-list__more-categories {
    text-align: center;
}
.category-card-list__more-categories__link {
    color: #A97B43;
    text-decoration: underline;
}
.category-card-list__more-categories__link:hover {
    cursor: pointer;
}
/* Overriding border radius of section title */
.labels {
    border-radius: 0 !important;
}