.category-card-list {
    padding: 1rem 0;
    background-color: #644422;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}
.category-card-list__item-list {
    padding: 1rem 0;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
}

.category-card-list__more-categories {
    width: 90%;
    text-align: center;
}
.category-card-list__more-categories__link {
    color: #4f97c0;
    text-decoration: underline;
}
.category-card-list__more-categories__link:hover {
    cursor: pointer;
}