.usually-products {
  background-color: #954535;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.usually-products-list {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 5px;
}
.usually-products__more-categories {
  text-align: center;
}
.usually-products__more-categories__link {
  color: #a97b43;
  cursor: pointer;
  text-decoration: underline;
}
.labels {
  border-radius: 15px 15px 0 0;
}