.usually-products-item--container {
  position: relative;
}

.usually-products-item__img1 {
  position: absolute;
  top: -85px;
  right: 30px;
}

.usually-products-item__img2 {
  position: absolute;
  top: -8px;
  right: 0px;
}

.usually-products-item__img--container {
  position: relative;
}

.usually-products-item {
  display: grid;
  grid-template-columns: 140px 1fr;
  grid-template-rows: 175px;
  background-color: #dcc8b0;
  align-items: center;
  border-radius: 15px;
  padding: 0.5rem 0;
}

.usually-products-item__information__title {
  font-weight: 900;
}
.usually-products-item__img > img {
  width: 100px;
  height: 100px;
  border: 1px solid #00000024;
  border-radius: 10px;
}
.usually-products-item__information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.even {
  background-color: rgb(100, 68, 34, 0.8);
}
.usually-products-item__information__price {
  font-weight: 600;
}
