/* .carousel-item {
    max-height: calc(600px - 1rem);
    display:flex;
    justify-content: space-around;  
    background: rgb(236,185,15);
    background: radial-gradient(circle, rgba(236,185,15,1) 0%, rgba(247,125,2,1) 100%); 
    padding: 100px 0 100px 0
}
.carousel-item__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
} */
.carousel-item {
    height: calc(calc(100vh - 1rem) - 70px);
    max-height: calc(calc(100vh - 1rem) - 70px);
    background: rgb(236,185,15);
    background: radial-gradient(circle, rgba(236,185,15,1) 0%, rgba(247,125,2,1) 100%); 
}