.filteredProductCard {
  background-color: #dcc8b0;
  border-radius: 10px;
  height: 190px;
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 1rem;
}

.filteredProductCard__title {
  font-weight: bold;
}

.filteredProductCard__body {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 1rem;
  overflow: auto;
}

.filteredProductCard__body p {
  align-self: center;
}

.filteredProductCard img {
  width: 80px;
  border-radius: 10px;
  float: left;
  object-fit: contain;
}
