/* Button declaration as deactive */
.carousel__item__button {
    border: 1px solid grey;
    border-radius: 100%;
    background-color:#D9D9D9;
    width: 20px;
    height: 20px;
    opacity: 0.4;
    cursor: pointer;
}
/* Button active */
.active {
    background-color: #888888;
    opacity: 1;
}