/* Carousel container, with paddings to not interfere with next relative */
.carousel {
    background-color: #DCC8B0;
    padding: 1rem 0 4rem;
    position: relative;
}

.carousel__wrapper {
    position: relative;
    height: 200px;
}
.carousel__item-button {
    position: absolute;
    left: 40%;
    bottom: 3%;
    width: 25%;
    display: flex;
    justify-content: space-around;
}
/* Price container */
.carousel__price__wrapper {
    position: absolute;
    right: 20%;
    bottom: 5%;
    visibility: hidden;
    font-size: 1.25rem;
    font-weight: 700;
}
/* Hidden price untill slide active */
.carousel__price {
    width: 0;
    height: 0;
}
/* Price shown in the active slide */
.price-active  {
    width: auto;
    height: auto;
    visibility: visible;
}
.carousel__sliders {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    position: absolute;
    padding-top: 2rem;
}
.carousel__sliders::-webkit-scrollbar {
    display: none;
}
/* Floaty text */
.carousel__information-group {
    width: 40%;
    height: 100%;
    position: absolute;
    padding-left: 10px;
    text-align: center;
    font-size: 10px;
    z-index: 1;
    background-color: #DCC8B0;
    margin-top: 1rem;
}

.carousel__sliders__slider {
    width: 250px;
    margin-left: 35%;
    filter: drop-shadow(0px 9px 4px rgba(0, 0, 0, 0.25));
}
.carousel__sliders__background {
    position: absolute;
    height: 90%;
    margin-left: 45%;
    top: 1rem;
}