.category {
  background-color: rgb(220, 200, 176, 0.5);
  text-align: center;
  height: calc(100vh - 212px);
}
.category__header {
  font-size: 48px;
  padding: 2rem 0;
  text-transform: uppercase;
}
.category__description {
  font-size: 36px;
  padding: 0 0 2rem;
}
.category__product-list {
  width: 100%;
}

@media (min-width: 800px) {
  .category {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 1500px) {
  .category {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 2000px) {
  .category {
    width: 30%;
    margin: 0 auto;
  }
}
